//Register
.text-control {
    margin: 32px 0 8px;
    span {
        display: flex;
        height: 40px;
        align-items: center;
        color: #646464;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -.28px;
        &::after {
            flex: 1;
            margin-left: 32px;
            height: 1px;
            content: "";
            background-color: #e5e5e5;
        }
    }
}

.input-groups {
    display: flex;
    width: 100%;
    .input-controller {
        width: 50%;
        &:first-child {
            margin-right: 16px;
        }
        input {
            @extend %input-custom;
        }
    }
}

.checkbox-container {
    display: flex;
    margin-top: 16px;
    .checkbox-box {
        margin-right: 10px;
        .checkbox-item {
            appearance: none;
            background-color: rgb(255, 255, 255);
            border: 2px solid rgb(155, 155, 155);
            cursor: pointer;
            display: inline-block;
            outline: none;
            position: relative;
            border-radius: 8px;
            height: 24px;
            width: 24px;
            margin-right: 10px;
            &:checked {
                background: rgb(255, 96, 0);
                border: 2px solid rgb(255, 96, 0);
            }
            &:checked::before {
                font-family: "Font Awesome 5 Free";
                content: "\f00c";
                font-weight: 900;
                color: #fff;
                background-size: 16px 13px;
                inset: -2px 3px;
                height: 13px;
                position: absolute;
                width: 16px;
            }
        }
    }
    label {
        line-height: 1.5;
        letter-spacing: -.28px;
        font-size: 14px;
    }
}

.btn-control {
    button {
        @extend %btn-costum;
    }
}

.input-item.ng-dirty.ng-valid {
    border: 2px solid green!important;
    background-color: #fff!important;
}

.input-item.ng-touched.ng-invalid.ng-dirty {
    border: 2px solid red!important;
    background-color: #fff!important;
}

.error-messages {
    margin: 0;
    padding: 0;
}

.error-messages li {
    color: rgb(251, 111, 111);
    font-size: 13px;
    letter-spacing: -0.24px;
    line-height: 1.5;
    margin: 7px 0px 7px 8px;
    list-style: none;
}