<div class="container-edit">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Giriş Yap</button>
        </li>
        <li class="item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false">Üye Ol</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-home-tab">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit();">
                <div class="input-control m-26">
                    <input class="input-item" type="email" formControlName="email" placeholder="E-posta adresi">
                    <div *ngIf="loginEmail?.invalid && loginEmail?.parent?.touched && loginEmail?.dirty">
                        <ul class="error-messages">
                            <li *ngIf="loginEmail?.errors?.required">
                                {{errorsMessage.required}}
                            </li>
                            <li *ngIf="loginEmail?.errors?.email">
                                {{errorsMessage.email}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" input-control ">
                    <input class="input-item" [type]="showLoginPassword " formControlName="password" placeholder="Şifre ">
                    <input class="password-visibilty" (click)="onChecked() " type="checkbox">
                    <div *ngIf="loginPassword?.invalid && loginPassword?.parent?.touched && loginEmail?.dirty">
                        <ul class="error-messages">
                            <li *ngIf="loginPassword?.errors?.required">
                                {{errorsMessage.required}}
                            </li>
                            <li *ngIf="loginPassword?.errors?.pattern">
                                {{errorsMessage.passwordPattern}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-control ">
                    <button class="btn-submit">Giriş Yap</button>
                </div>
            </form>
            <div class="password-control ">
                <span>Şifremi unuttum</span>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="text-control ">
                <span>E-posta adresi ile üye ol</span>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit();">
                <div class="input-groups ">
                    <div class="input-controller ">
                        <div>
                            <input class="input-item" type="text" formControlName="name" placeholder="Ad ">
                            <div *ngIf="registerName?.invalid && registerName?.parent?.touched && registerName?.dirty">
                                <ul class="error-messages">
                                    <li *ngIf="registerName?.errors?.required">
                                        {{errorsMessage.required}}
                                    </li>
                                    <li *ngIf="registerName?.errors?.pattern">
                                        {{errorsMessage.error}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="input-controller">
                        <div>
                            <input class="input-item" type="text" formControlName="surname" placeholder="Soyad">
                            <div *ngIf="registerSurname?.invalid && registerSurname?.parent?.touched && registerSurname?.dirty">
                                <ul class="error-messages">
                                    <li *ngIf="registerSurname?.errors?.required">
                                        {{errorsMessage.required}}
                                    </li>
                                    <li *ngIf="registerSurname?.errors?.pattern">
                                        {{errorsMessage.error}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-control ">
                    <input class="input-item " type="email" formControlName="registerEmail" placeholder="E-posta adresi">
                    <div *ngIf="registerEmail?.invalid && registerEmail?.parent?.touched && registerEmail?.dirty">
                        <ul class="error-messages">
                            <li *ngIf="registerEmail?.errors?.required">
                                {{errorsMessage.required}}
                            </li>
                            <li *ngIf="registerEmail?.errors?.email">
                                {{errorsMessage.email}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="input-control">
                    <input class="input-item" [type]="showRegisterPassword" formControlName="registerPassword" placeholder="Şifre">
                    <input class="password-visibilty" (click)="onRegisterPasswordChecked() " type="checkbox">
                    <div *ngIf="registerPassword?.invalid && registerPassword?.parent?.touched && registerPassword?.dirty">
                        <ul class="error-messages">
                            <li *ngIf="registerPassword?.errors?.required">
                                {{errorsMessage.required}}
                            </li>
                            <li *ngIf="registerPassword?.errors?.pattern">
                                {{errorsMessage.passwordPattern}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-control">
                    <input class="input-item" [type]="showConfirmPassword" formControlName="confirmPassword" placeholder="Şifre Onayı">
                    <input class="password-visibilty" (click)="onConfirmPasswordChecked() " type="checkbox">
                    <div *ngIf="confirmPassword?.invalid && confirmPassword?.parent?.touched && confirmPassword?.dirty">
                        <ul class="error-messages">
                            <li *ngIf="confirmPassword?.errors?.required">
                                {{errorsMessage.required}}
                            </li>
                            <li *ngIf="confirmPassword?.errors">
                                {{errorsMessage.confirm}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="checkbox-container ">
                    <div class="checkbox-box ">
                        <input class="checkbox-item" (click)="agreeSubmit()" type="checkbox" id="flexCheckDefault">
                    </div>
                    <label for="flexCheckDefault">
                        Önemli kampanyalardan haberdar olmak için <strong>Rıza Metni</strong> kapsamında elektronik
                        ileti almak istiyorum.
                    </label>
                </div>
                <div class="btn-control ">
                    <button [disabled]="registerForm.invalid || !isAgreeSubmit" [class.btn-disabled]="registerForm.invalid || !isAgreeSubmit">Üye Ol</button>
                </div>
            </form>
        </div>
    </div>
</div>